<%= render "partial/index" %>
<div class="row">

	<div class="col-md-6">

  <% if @articles.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @articles.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "partial/form", name: "Edit" %>
		
	</div>  

</div>