<%= render "partial/index" %>
<div class="row">
	<h2>
	Article
    </h2>
	<div class="col-md-6">
	<h4>Write by: </h4>
	<h4><%= @articles.title %></h4>

		<p><%= @articles.body %></p>
	

	<p>Visits: <%= @articles.visits_count %></p>
	<h2>


</div>
