	<div class="row">
	    <% if user_signed_in? %>
        <div class="alert alert-success" role="alert"><h1>Welcome to our blog Blog !!! <%= current_user.email %></h1></div>
        <% else %>
        <div class="alert alert-success" role="alert"><h1>Welcome to our blog Blog !!!</h1></div> 
        <% end %>	
	</div>


