body{
	
}

h1,h2,h3{
	text-align: center;
}

.fromlogin{
width: 25% ;
 margin:0 auto 0 auto;
}

td{
	padding-right: 10px;
	background-color: #B1D5FB;
}

th{
	background-color: #4B8EFF;
}

.field_with_errors{
	display: inline;
}

.field_with_errors .message{
	color: #D00;
	padding-left:5px;
	font-size:12px; 
}



